@page "/MasViewer/{ProcName}"
@using MarkSql.Shared
@using MarkSql.Client.Services
@using Microsoft.AspNetCore.WebUtilities
@inject ILocalApi localApi
@inject NavigationManager NavManager
@inject IMarkDownService MarkDownService  

<h3>MasViewer</h3>
@((MarkupString)Html)
<br />  


@code {

    public MasForm? Report { get; set; } = null;

    [ParameterAttribute]
    public string? ProcName { get; set; }


    public string MarkDown { get; set; } = "Nothing";
    public string Html { get; set; } = "Nothing";

    protected override async Task OnInitializedAsync()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);

        if (ProcName == null)
            return;

        Report =  await localApi.GetForm(ProcName);
        if (Report == null)
            return;

        Report = FormUtil.GetFormAndValues(Report, uri);
        if (Report == null)
            return;

        try
        {
            MarkDown = await localApi.ExceMqProc(Report);
        }
        catch (Exception e)
        {
            MarkDown = e.ToString();
        }
        var md = MarkDownService.Parse(MarkDown);
        Html = MarkDownService.RenderAsHtml(md);

        StateHasChanged();

    }

}
