<h3>MarkDown</h3>

<textarea @oninput="HandleOnChange">@md</textarea>

@code {

    private string? md;

    [Parameter] public string? ChildData { get; set; }

    [Parameter]
    public EventCallback<string> ChildDataChanged { get; set; }

    private async Task HandleOnChange(ChangeEventArgs args)
    {
        md = (args == null || args.Value == null) ? "" : args.Value.ToString();
        await ChildDataChanged.InvokeAsync(md);
    }

    protected override void OnParametersSet()
    {
        md = ChildData;

        base.OnParametersSet();
    }
}