@using Markdig

<h3>MarkDown</h3>
<textarea @oninput="HandleOnChange" style="width:400px " >@md</textarea>


<h3>Preview</h3>
@((MarkupString)@html)

<h3>HTML</h3>
<pre>
@html
</pre>

@code {

    private string md="";
    private string html="";

    [Parameter] public string? ChildData { get; set; }

    [Parameter]
    public EventCallback<string> ChildDataChanged { get; set; }

    private async Task HandleOnChange(ChangeEventArgs args)
    {
        md = (args == null || args.Value == null) ? "" : args.Value.ToString();
        await ChildDataChanged.InvokeAsync(md);
    }

    protected override void OnParametersSet()
    {
        md = ChildData;

        var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
        html = Markdown.ToHtml(md,pipeline);
        base.OnParametersSet();

    }
}÷